/* .sales-dashboard {
    margin: 20px;
    background-color: #FFF8EE;
    height: 125%;
  }
  
  .sales-dashboard h1 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
  }
  
  .sales-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .sales-table th,
  .sales-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .sales-table th {
    background-color: #4CAF50;
    color: white;
  }
  
  .sales-table td {
    background-color: #f9f9f9;
  }
  
  .remove-button {
    background-color: #e7e7e7;
    border: none;
    color: #333;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .remove-button:hover {
    background-color: #d4d4d4;
  }
  
   */

   .sales-dashboard {
    margin: 20px;
    background-color: #FFF8EE;
    height: 125%;
}

.sales-dashboard h1 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.sales-table {
    width: 100%;
    border-collapse: collapse;
}

.sales-table th,
.sales-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.sales-table th {
    background-color: #4CAF50;
    color: white;
}

.sales-table td {
    background-color: #f9f9f9;
}

.fas {
    cursor: pointer;
    margin-left: 5px;
}
