  
  .signup-background {
    /* background-image: url('C:\Users\moubo\OneDrive\Desktop\App Dev\project\src\Assets\login.jpg');  */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
    height: 100vh; 
    position: absolute; 
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.signup-background {
    /* background-image: url('C:\Users\moubo\OneDrive\Desktop\App Dev\project\src\Assets\login.jpg');  */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
    height: 100vh; 
    position: absolute; 
    top: 0;
    left: 0;
    z-index: -1;
  }
  button {
    width: auto; 
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #178caf;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    align-items: center;
  }
  .button1 {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  button:hover {
    background: #4fbfe1;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -2px -2px 10px rgba(255, 255, 255, 0.8);
  }
      
  .container1 {
    padding: 1rem;
  }
  .container1 {
    max-width: 400px;
    margin: 150px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  body {
    font-family: Arial, sans-serif;
  }
  
  /* button {
    margin-right: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #178caf;
  }  */
    
  
        
  
  