/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.login-background,
.signup-background {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.login-background {
  /* background-image: url("C://Users//moubo//OneDrive//Desktop//App Dev//project//src//Assets//login.jpg");  */
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100%;
  height: 100vh; 
  position: absolute; 
  top: 0;
  left: 0;
  z-index: -1;
}

.signup-background {
  background-image: url('https://e0.pxfuel.com/wallpapers/177/481/desktop-wallpaper-login-background-for-android-tip.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100%;
  height: 100vh; 
  position: absolute; 
  top: 0;
  left: 0;
  z-index: -1;
}
.container21 {
  display: flex;
  max-width: 700px;
  margin: 90px auto;
  padding-left: 20px;
  background:#f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 450px;
}
.left21{
  width: 50%;
}
.right21{
  width: 50%;
}



@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.input-container {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 1.1rem;
}

input {
  width: 70%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

button {
  width: 30%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  align-items: center;
}

.primary-button21 {
  background:#178caf;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(255, 255, 255, 0.8);
  color: white;
  font-weight: 700;
}

.primary-button21:hover {
  background: #4fbfe1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -2px -2px 10px rgba(255, 255, 255, 0.8);
  color: white;
}

.secondary-small {
  color: #096bf4;
}

.secondary-small:hover {
  
  color: #0c428d;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 20px;
}
.monash-heading21 {
  font-size: 1.7rem; 
  font-weight: bold;
  margin-bottom: 10px; 
}
.animated-heading21{
  font-size: 1.7rem; 
  font-weight: bold;
}
