.app-bar1 {
  width: calc(100% - 232px); /* Adjust width to account for the sidebar */
  height: 60px;
  background-color: #F7F7FE;
  color: #333;
  position: fixed;
  top: 0;
  left: 232px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1;
}

.app-bar1 h1 {
  margin: 0;
}

.app-bar-menu {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Add margin to push the menu slightly to the right */
}

.search-form {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-top: 10px;
  flex-grow: 1;
}

/* .search-button {
  display: flex;
  align-items: center;
  margin-left: 140%;
  margin-top: 10px;
  flex-grow: 1;
} */

.search-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px; /* Adjust the width as needed */
  
}

.search-button {
  padding: 5px 10px;
  margin-left: 5px;
  background-color: #83baf5;
  color: rgb(16, 3, 3);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: darkblue; /* Optional: darker blue on hover */
}

.sign-out-button {
  background-color: #e74c3c; /* Red color for sign out button */
  color: rgb(147, 46, 46);
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.sign-out-button:hover {
  background-color: #c0392b; /* Darker red for hover effect */
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px; /* Adjust as needed */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #6B6B6B;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
