/* Dashboard.css */

.dashboard-title {
  font-size: 2em;
  font-weight: bold;
  margin-top: -48%;
  margin-left: 10px;
}

.dashboard-paper {
  padding: 16px;
  text-align: center;
  color: #fff;
  /* background-color: #3f51b5; */
  margin-bottom: 16px;
  margin-left: 10px;
  height: 380px;
}
.dashboard-paper1 {
  padding: 16px;
  text-align: center;
  color: #fff;
  background-color: #3f51b5;
  margin-bottom: 16px;
  margin-left: 10px;
  height: 500px;
}

.metric-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: #fff;
  color: #faf7f7;
  text-align: center;
  flex-direction: column;
  height: 100%;
}

.metric-box1 {
  display: flex;
  align-items: left;
  justify-content: left;
  padding: 16px;
  background-color: #fff;
  color: #faf7f7;
  text-align: left;
  flex-direction: column;
  height: 100%;
}

.sales-activity-paper {
  margin-left: 10px;
  height: 300px;
}

.sales-activity-paper1 {
  margin-left: 10px;
  height: auto;
  width: 500px;
}
